h1 {color: white; text-align: center; border: 5px solid green; font-size: 64px;}
h2 {color: white; text-align: center; border: 3px solid green; font-size: 48px;}
p {color: white; text-align: center; border: 2px solid orange; font-size: 32px;}
center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
