p {color: gray; text-align: center; border: 5px solid orange;}
h1 {color: gray; text-align: center; border: 10px transparent purple;}
h2 {color: gray; text-align: center; border: 5px transparent purple;}
