h1 {color: gray; text-align: center; border: 5px solid purple; font-size: 52px;}
h2 {color: gray; text-align: center; border: 3px solid purple; font-size: 48px;}
p {color: gray; text-align: left; border: 2px solid orange; font-size: 32px;}
center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
